.form-container{
   width: 500px;
   height: 600px;
   margin: 20px auto;
   border: 1px solid saddlebrown;
   border-radius: 8px; 
}

.form-tittle{
    font-weight: 400;
    font-size: 35px;
    color: darkgray;
    text-align: center;
}
.form-control{
    padding-left: 30px;
}

.form-control label{
   display: block;
   font-weight: 400;
   font-size: 17px;
   line-height: 20px;
   letter-spacing: 0.0015rem;
   margin-bottom: 10px;
   color: darkblue;
}

.form-control input{
    width:415px;
    height:55px;
    border: 1px solid grey;
    font-size: 1.5em;
    border-radius: 5px;
    padding-left: 10px;
    

}
.btn-submit{
    margin-left: 34px;
    margin-top: 40px;
    width: 420px;
    height: 55px;
    background-color: cadetblue;
    border-radius: 5px;
    color: aliceblue;
    font-size: 1.5rem;
}

.p-style{
    text-align: center;
    font-weight: 600;
}
.p-style a{
    color:red;
    text-decoration: none;
    
}